// colors
$accentColor = #FF9F1C
$textColor = #FDFFFC
$borderColor = #CFD8DC
$codeBgColor = #2EC4B6
$arrowBgColor = #ccc
$badgeTipColor = #FF9F1C
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$mainColor=#011627
$featureSubColor = #A5668B 
$subTitle=#F2D7EE
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 840px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px